.card {
  /* background-color: white; */
  border-radius: 6px;
  height: 35vh;
  width: 30%;
  border: 3px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;

}
